---
export interface Props {}
---

<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; 2026 WanLog. All rights reserved.</p>
    </div>
  </div>
</footer>
