---
export interface Props {}
---

<section class="hero">
  <div class="hero-content">
    <h1 class="catchcopy">話せない分、<br />あなたが記録してあげる。</h1>
    <p class="hero-subtitle">WanLog（ワンログ）</p>
  </div>
</section>
