---
export interface Props {}
---

<section class="pain-point">
  <div class="container">
    <h2>こんなことありませんか？</h2>
    <div class="pain-content">
      <p class="pain-text">
        病院に行ったら便のサンプル忘れた...<br />
        そういう経験ってありますよね。
      </p>
      <p class="pain-description">
        愛犬の健康情報を必要な時にすぐに確認できず、<br />
        大切な診察の時間を無駄にしてしまう。<br />
        そのようなお悩みをお持ちの飼い主さんは多いです。
      </p>
    </div>
  </div>
</section>
